* {
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin: 0 auto;
}

/* This is the nav bar */
nav {
  background-color: #FE7E00;
}

.divnav {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}

.ulnav {
  display: inline-block;
  width: 70%;
  text-align: right;
  overflow: hidden;
  vertical-align: middle;
}

.ulnav li {
  display: inline-block;
  margin: 0 30px;
}

.ulnav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* This is the search bar */
.search {
  text-align: right;
  margin-top: 10px;
  margin-right: 100px;
}

input {
  height: 45px;
  width: 275px;
}

input::placeholder {
  /* font-size: 30px; */
  /* line-height: 40px; */
}

/* This is the center of the page */

#centersection {
  display: inline-block;
}

div.centerpic {
  display: inline-block;
}

div.centerpic img {
  height: 450px;
  width: auto;
  margin-left: 10%;
  margin-top: 10%;
}

div.centertext {
    display: inline-block;
    height: 450px;
    width: 60%;
    vertical-align: top;
    padding-top: 20px;
}

.centertext p {
  color: orange;
  font-size: 55px;
  margin-top: 10%;
  margin-left: 10%;
  font-family: Verdana, sans-serif;
  font-weight: 300;
  padding-right: 5%;
  line-height: 1.6;
}

span {
  font-weight: 900;
}

.centertext2 {
  color: #7ACCC8;
}

#orangebutton {
  color: white;
  background-color: #FE7E00;
  font-size: 30px;
  height: 65px;
  width: 350px;
  border: none;
  text-align: center;
  text-decoration: none;
  margin-left: 10%;
  margin-top: 30px;
  margin-right: 5%;
}

#greenbutton {
  color: white;
  background-color: #7ACCC8;
  font-size: 30px;
  height: 65px;
  width: 350px;
  border: none;
  text-align: center;
  text-decoration: none;
}

footer {
  background-color: #7ACCC8;
  margin-top: 10%;
  margin-bottom: 0;
  text-align: center;
  height: 83px;
  overflow: hidden;
}

.footul {
  list-style-type: none;
  padding-left: 0;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.footul li {
  display: inline-block;
  margin: 20px;
}

.footul li a i {
  text-decoration: none;
  font-size: 40px;
}

#fbicon {
  color: #4267B2;
}

#igicon {
  color: black;
}

#twicon {
  color: #1DA1F3;
}
